@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4e8eec;
}

header, footer, a {
    color: white;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #0000004d;
}

div#res {
    text-align: center;
}