@charset "UTF-8";

:root {
    --fonte-principal: Arial, Helvetica, sans-serif;
    --cor-titulo: #ffffff80;
    --cor-sombra: #00000080;
    --phone: url(../imagens/back-phone.jpg);
    --tablet: url(../imagens/back-tablet.jpg);
    --pc: url(../imagens/back-pc.jpg);
    --tv: url(../imagens/back-tv.jpg);
    --print: url(../imagens/back-print.jpg);
}