@charset "UTF-8";

body {
    margin: 0;
    height: 100vh;
    /*background-color: black;
    background-image: url(../034/imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /*Shorthand background:
        color > image > position > repeat > [size] > attatchment
    */

    background: black url(../034/imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    padding: 20px;
    width: 400px;
    text-align: justify;
    margin: auto;
    border: 2px solid red;
    border-radius: 15px;
}

main h1 {
    text-align: center;
}

main p {
    text-indent: 21px;
}