@charset "UTF-8";

body {
    margin: 0;
    height: 100vh;
    border: 1px solid black;
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
}